In [1]:
#Import your libraries and dependencies
import os
import pandas as pd
import yfinance as yf
import numpy as np
import pandas_datareader as pdr

%matplotlib inline

In [2]:
#Set your Datareader
yf.pdr_override()

#Set your tickers
tickers = ["SHOP"]

#Set your portfolio dates
start = '2016-01-01'
end = '2021-05-06'

In [3]:
#Load your stock Dataframe into a variable
shopify_stock = pdr.data.get_data_yahoo(tickers, start, end)

shopify_stock.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2016-01-04  25.420000  25.834999  24.520000  25.719999  25.719999  601800
2016-01-05  25.500000  26.500000  25.260000  25.309999  25.309999  418200
2016-01-06  24.950001  25.340000  24.180000  25.299999  25.299999  256600
2016-01-07  25.000000  25.580000  24.629999  24.670000  24.670000  416000
2016-01-08  25.000000  25.370001  24.700001  24.930000  24.930000  137400