In [1]:
#Import your libraries and dependencies
import os
import pandas as pd
import yfinance as yf
import numpy as np
import pandas_datareader as pdr

%matplotlib inline

In [2]:
#Set your Datareader
yf.pdr_override()

#Set your tickers
tickers = ["PYPL"]

#Set your portfolio dates
start = '2016-01-01'
end = '2021-05-06'

In [3]:
#Load your stock Dataframe into a variable
paypal_stock = pdr.data.get_data_yahoo(tickers, start, end)

paypal_stock.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-01-04  35.130001  35.560001  34.279999  34.750000  34.750000  12287700
2016-01-05  34.980000  34.980000  33.860001  34.310001  34.310001  11227700
2016-01-06  33.700001  34.009998  33.209999  33.980000  33.980000   8441300
2016-01-07  33.150002  34.160999  33.020000  33.130001  33.130001  11041100
2016-01-08  33.459999  33.880001  32.630001  32.689999  32.689999   7848800