In [1]:
#Import your libraries and dependencies
import os
import pandas as pd
import yfinance as yf
import numpy as np
import pandas_datareader as pdr

%matplotlib inline

In [2]:
#Set your Datareader
yf.pdr_override()

#Set your tickers
tickers = ["TDOC"]

#Set your portfolio dates
start = '2016-01-01'
end = '2021-05-06'

In [3]:
#Load your stock Dataframe into a variable
teladoc_stock = pdr.data.get_data_yahoo(tickers, start, end)

teladoc_stock.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low  Close  Adj Close  Volume
Date
2016-01-04  17.670000  18.750000  17.389999  17.99      17.99  186100
2016-01-05  18.000000  20.000000  17.870001  19.50      19.50  373300
2016-01-06  19.290001  20.799999  18.455000  20.66      20.66  509600
2016-01-07  19.910000  20.440001  19.790001  20.18      20.18  277400
2016-01-08  20.160000  20.180000  17.910000  19.17      19.17  192700