In [1]:
#Import your libraries and dependencies
import os
import pandas as pd
import yfinance as yf
import numpy as np
import pandas_datareader as pdr

%matplotlib inline

In [2]:
#Set your Datareader
yf.pdr_override()

#Set your tickers
tickers = ["TSLA"]

#Set your portfolio dates
start = '2016-01-01'
end = '2021-05-06'

In [3]:
#Load your stock Dataframe into a variable
tesla_stock = pdr.data.get_data_yahoo(tickers, start, end)

tesla_stock.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-01-04  46.144001  46.276001  43.799999  44.681999  44.681999  34135500
2016-01-05  45.271999  45.377998  44.000000  44.686001  44.686001  15934000
2016-01-06  44.000000  44.009998  43.195999  43.807999  43.807999  18895500
2016-01-07  42.838001  43.688000  42.734001  43.130001  43.130001  17771500
2016-01-08  43.571999  44.088001  42.153999  42.200001  42.200001  18140500