In [1]:
#Import your libraries and dependencies
import os
import pandas as pd
import yfinance as yf
import numpy as np
import pandas_datareader as pdr

%matplotlib inline

In [2]:
#Set your Datareader
yf.pdr_override()

#Set your tickers
tickers = ["SQ"]

#Set your portfolio dates
start = '2016-01-01'
end = '2021-05-06'

In [3]:
#Load your stock Dataframe into a variable
square_stock = pdr.data.get_data_yahoo(tickers, start, end)

square_stock.head()

[*********************100%***********************]  1 of 1 completed

             Open   High     Low  Close  Adj Close   Volume
Date
2016-01-04  12.75  12.90  12.050  12.16      12.16  2751500
2016-01-05  12.20  12.34  11.500  11.51      11.51  2352800
2016-01-06  11.50  11.64  11.015  11.52      11.52  1850600
2016-01-07  11.13  11.37  11.000  11.16      11.16  1636000
2016-01-08  11.25  11.54  11.200  11.31      11.31   587300