In [1]:
#Import your libraries and dependencies
import os
import pandas as pd
import yfinance as yf
import numpy as np
import pandas_datareader as pdr

%matplotlib inline

In [2]:
#Set your Datareader
yf.pdr_override()

#Set your tickers
tickers = ["Z"]

#Set your portfolio dates
start = '2016-01-01'
end = '2021-05-06'

In [3]:
#Load your stock Dataframe into a variable
zillow_stock = pdr.data.get_data_yahoo(tickers, start, end)

zillow_stock.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High     Low      Close  Adj Close   Volume
Date
2016-01-04  23.080000  23.330000  22.070  22.110001  22.110001  1504400
2016-01-05  22.209999  22.870001  21.350  21.990000  21.990000  1252600
2016-01-06  21.719999  22.334999  21.500  21.959999  21.959999  1089100
2016-01-07  21.490000  22.020000  21.430  21.500000  21.500000  1178900
2016-01-08  21.660000  22.395000  21.591  22.100000  22.100000  1056500