In [1]:
#Import your libraries and dependencies
import os
import pandas as pd
import yfinance as yf
import numpy as np
import pandas_datareader as pdr

%matplotlib inline

In [2]:
#Set your Datareader
yf.pdr_override()

#Set your tickers
tickers = ["NVDA"]

#Set your portfolio dates
start = '2016-01-01'
end = '2021-05-06'

In [3]:
#Load your stock Dataframe into a variable
nvidia_stock = pdr.data.get_data_yahoo(tickers, start, end)

nvidia_stock.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-01-04  32.290001  32.580002  32.040001  32.369999  31.661398   8951900
2016-01-05  32.980000  33.439999  32.500000  32.889999  32.170021  12256800
2016-01-06  32.349998  32.500000  31.160000  31.530001  30.839788  11233600
2016-01-07  30.740000  30.950001  29.879999  30.280001  29.617151  16132600
2016-01-08  30.670000  30.700001  29.570000  29.629999  28.981380   9961800