In [1]:
#Import your libraries and dependencies
import os
import pandas as pd
import yfinance as yf
import numpy as np
import pandas_datareader as pdr

%matplotlib inline

In [2]:
#Set your Datareader
yf.pdr_override()

#Set your tickers
tickers = ["TWTR"]

#Set your portfolio dates
start = '2016-01-01'
end = '2021-05-06'

In [3]:
#Load your stock Dataframe into a variable
twitter_stock = pdr.data.get_data_yahoo(tickers, start, end)

twitter_stock.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-01-04  22.639999  22.840000  22.110001  22.559999  22.559999  15325000
2016-01-05  22.790001  23.000000  21.850000  21.920000  21.920000  17077700
2016-01-06  21.620001  22.180000  21.180000  21.389999  21.389999  14033600
2016-01-07  21.000000  21.480000  20.200001  20.260000  20.260000  20759800
2016-01-08  20.510000  20.719999  19.600000  19.980000  19.980000  21832300